body {
    padding: 0;
    margin: 0;
    min-height: 100vmin;
    background-attachment: fixed;
    background: linear-gradient(to bottom, black, teal);
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: white;
}

main .links {
    display: flex;
    gap: 10px;
    border: 1px solid teal;
    padding: 10px;
}

main .links .title {
    display: flex;
    align-items: center;
}

main .links span {
    display: flex;
    align-items: center;
}

main .links span a {
    text-decoration: none;
    color: white;
    padding: 5px;
    background: teal;
}

main .links span button {
    border: none;
    padding: 5px;
    height: 100%;
    cursor: pointer;
}

main .notification {
    opacity: 0;
    background: gold;
    height: 50px;
    color: red;
    display: flex;
    align-items: center;
    padding: 10px;
}